
* {
    margin: 0;
    padding: 0;
}
a,a:hover {
    text-decoration: none;
}


.header
{
    background-color: #2aabd2;
}
.item img {
    width: 100%;
}
.slider {
    margin-top: 20px;
}
.content {
    margin-top: 20px;
    background-color:lavenderblush;
}
.content img {
    width: 100%;
}
.footer{
    background-color:lightskyblue;
    margin-top: 40px;
    padding: 10px;

}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}






.dropdown-menu{
    box-shadow: lightskyblue;
    border-color: #2aabd2;
    border-radius: 2%;
}
.social_media ul li{
    list-style: none;
    float: right;